
.fenlei-list{
    height: 644px;
    border-top:1px solid #636363;
    border-bottom: 1px solid #282828;
    overflow: hidden;
}
.fenlei-list li{
    height: 86px;
    border-bottom: 1px solid #aaaaaa;
    background-color: #ffffff;
    font-size:38px;
    line-height: 86px;
    padding-left: 41px;
    position: relative;
}
.fenlei-list li+li{
    border-top: 1px solid #cbcbcb;
}
.fenlei-list li:nth-of-type(1){
    padding-left: 21px;
}
.fenlei-list li span{
    position: absolute;
    display: block;
    width: 29px;
    height: 86px;
    top:0;
    right: 29px;
    background: url("../images/clock.png") center no-repeat;
}
.fenlei-list li.active span{
    background: url("../images/open.png") center no-repeat;
}
